<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>

    <div id="hero-image" style="background:url('/images/404.jpg');background-size:cover;">
      <h1 id="hero-title"><%= title %></h1>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/script.ejs %>
  </body>
</html>
